{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "extends": [
      "plugin:vue/recommended",
      "plugin:prettier/recommended",
      "eslint:recommended"
    ]
  }