@import "variables";

@import "node_modules/bootstrap/scss/bootstrap.scss";
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

// Variables
@import "landing";

// Bootstrap

.color-preview {
  height: 50px;
  width: 100px;
  background-color: pink;
}

.guide-text {
  font-size: 1.1em;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.padLeft {
  padding-left: 10px;
}

.pushFromTop {
  margin-top: 15px;
}

.cardHeight {
  height: 60%;
}

/*.navbar-deco {
	background-color: #117F90;
	-webkit-box-shadow: 0 8px 6px -6px #7A7A7A;
    -moz-box-shadow: 0 8px 6px -6px #7A7A7A;
    box-shadow: 0 8px 6px -6px #7A7A7A;
    color: #181818;
    width: 100%;
}*/

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #070817;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #070817;
  cursor: pointer;
}

.navbar-brand {
  font-size: 2em;
}

.nav-link {
  font-size: 1.3em;
}


/* stack navbar vertically on small screens */
@media(max-width:768px) {
  .navbar .navbar-nav>.nav-item {
      float: none;
      margin-left: .1rem;
  }
  .navbar .navbar-nav {
      clear:both;
  }
  .navbar .collapse.in, .navbar .collapsing  {
      clear:both;
  }

  #control-bar-volume-container {
    display: none;
  }
}

#navSearchBar {
  display: none;
}

#navSearchButton {
  display: none;
}
