
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

.padLeft {
  padding-left: 10px;
}

.pushFromTop {
  margin-top: 15px;
}

.cardHeight {
  height: 60%;
}
