
:80 {
    handle /api/* {
        root * /srv/app/public

        @websockets {
            header Connection *upgrade*
            header Upgrade    websocket
        } 

        php_fastcgi 127.0.0.1:9000

        rewrite * /index.php?{query}

        encode gzip
        header -X-Powered-By
        file_server
    }

    handle {
        root * /srv/app/vue_app/dist/
        try_files {path} /index.html
        file_server
    }

    log
}
