.ds-gradient {
  background: #24b6ff;
  background: -webkit-linear-gradient(
    to bottom right,
    #24b6ff 0%,
    #7c4dff 100%
  );
  background: -moz-linear-gradient(to bottom right, #24b6ff 0%, #7c4dff 100%);
  background: linear-gradient(to bottom right, #24b6ff 0%, #7c4dff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.unstyled-link {
  text-decoration: none;
  color: inherit;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}
