.ds-gradient {
	background: #24B6FF;
  background: -webkit-linear-gradient(to bottom right, #24B6FF 0%, #7C4DFF 100%);
  background: -moz-linear-gradient(to bottom right, #24B6FF 0%, #7C4DFF 100%);
  background: linear-gradient(to bottom right, #24B6FF 0%, #7C4DFF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }

.unstyled-link {
  text-decoration: none; 
  color: inherit;
}

